/* Variables globales */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&display=swap");

$fuente--principal: "Inter", "sans-serif";
$color--texto: orange;
$card--fondo: #fff;
